//dashboard
$primary-color: #78C2A4;
$HeadingSize: 45px;
$TitleSize : 14px;
//carsole
.verifcationModal{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 94%;
    padding: 0px 10%;
    color: #000;
    .verifcationModalContainer{
        padding: 40px;

    }
    h1{
        font-size: 25px
    }
    h2{
        font-size: 18px;
        color: rgb(94, 92, 92);
        margin: 20px 0px;
    }
    button{
        
    font-size: 16px;
    height: 52px;
    width: 200px;
    padding: 0px 20px;
    font-family: 'Poppins';
    font-weight: 400;
    background: black;
    color: white;
    border-radius: 8px;
    display: block;
   
    margin: 20px auto;
    }
    button:hover{
        background: white;
        color: black;
        border: 2px solid black;
    }

}
.carousel .slide {
   
    background: #000; 
    box-shadow: 0px 0px 4px 1px #d5d5d5;

}
.carouselCard{
    background: #000; 
    // box-shadow: 0px 0px 4px 1px #d5d5d5;
}
.carouselImg{
    height: 300px;
}
.carouselText{
    color: whitesmoke;
    margin-top: 15px;
    font-size: 30px;
}
.carouselText2{
    color: #78C2A4;
    font-size: 19px;
    cursor: pointer;
    text-align: right;
    margin-right: 25px;
    margin-bottom: 0px;
}
.carousel .thumb{
    display: none;
}
.carousel .thumb.selected, .carousel .thumb:hover {
    border: 3px solid #333;
    display: none;
}
.mt-mb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.centerheading {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.horizontal-Line {
    width: 20px;
    border-bottom: 3px solid $primary-color;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
}
.dealImg{
    height: 100px;
    width: 100px;
}

.text1 {
    font-size: $TitleSize;
    color: #fff;
}

.primarycolor {
    color: $primary-color;
}

.primarybackgroundcolor {
    background-color: $primary-color;
}

.ExploreBtn {

    color: #fff;
    background-color: #000;
    border: 2px solid white;
    font-family: poppins;
    font-weight: 900;
    height: 60px;
    width: 230px;
    font-size: 18px;
    margin: 40px 0px;
}

.ExploreBtn:hover {
    color: #000;
    background-color: $primary-color;
    border: none;

}

.ExploreBtn:focus {
    opacity: 0.8;
    outline: none;
    border: 2px solid $primary-color;

}

//section1
.section1 {

    .text2 {
        font-size: 16px;
        color: #fff;
        line-height: 2.5;
    }

    .heading {
        font-size: $HeadingSize;
        color: whitesmoke;

    }

    .btn {
        height: 50px;
        width: 155px;
        border: none;
        background: none;
        font-size: 16px;
        font-family: poppins;
        font-weight: 600;
        text-decoration: underline;
        color: $primary-color;
    }

    .btn:hover {
        background: $primary-color;
        color: black;
        text-decoration: none;
    }
}

//section 2
.section2 {
    .heading {
        font-size: $HeadingSize;
        color: whitesmoke;
    }

    .text2 {
        font-size: 16px;
        color: #fff;
        line-height: 2.5;
    }
.featureImg{
    height: 392px;

}
    .deal-card {
        min-height: 250px;

        width: 96%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 3px 2px #efeded;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 50px 30px;
        color: whitesmoke;

    }

    .deal-card:hover {
        color: black;
        background-color: #8fe2c1;

        .readmore {
            color: #fff;

        }
    }

    .deal-card-heading {
        font-size: 24px;
    }

    .deal-card-text {
        font-size: 13px;
        line-height: 2;
    }

    .readmore {

        font-size: 16px;
        font-family: poppins;
        font-weight: 600;
        text-decoration: underline;
        color: $primary-color;
        text-align: left;
        padding-left: 0px;
    }

    .readmore:hover {
        cursor: pointer;
        opacity: 0.8;
    }



}

//section 3
.section3 {
    .Section3Card {
        background-color: black;
        color: white;
        height: 645px;
        width: 90%;
        border-radius: 20px;
        padding: 50px;
        border: 1px solid white;
        .featureImg{
            height: 392px;
        
        }
    }

    .horizontal-Line {
        width: 20px;
        border-bottom: 3px solid #fff;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .text1 {
        font-size: $TitleSize;
        color: white;
    }

    .heading {
        font-size: $HeadingSize;
        color: #fff;

    }

    .text2 {
        font-size: 16px;
    }

    .section3InnerCard {

        background: black;
        /* height: 432px; */
        width: 386px;
        box-shadow: 0px 0px 1px 1px #bebebe;
        border-radius: 33px;
        margin-top: 23%;
        margin-left: 100px;
        padding: 17px;


    }

    .BuyNowBtn {

        color: #fff;
        background-color: #000;
        border: 2px solid #fff;
        font-family: poppins;
        font-weight: 900;
        height: 60px;
        width: 230px;
        font-size: 18px;
        margin: 40px 0px;
    }

    .BuyNowBtn:hover {
        color: #fff;
        background-color: #34708f;
        border: 3px solid #002334;

    }

    .BuyNowBtn:focus {
        opacity: 0.8;
        outline: none;
        border: 3px solid #002334;

    }
}

.section4 {
    .newArrival {
        color: #D5BA74;
        font-size: 12px;
        position: absolute;
        left: 50px;
        top: 50px;
    }

    .heading {
        font-size: $HeadingSize;
        color: whitesmoke;
    }

    .text2 {
        font-size: 16px;
        color: #fff;
        line-height: 2.5;
    }

    .ExploreCard {
        padding: 50px 0px;
        width: 100%;
        background: black;
        border-radius: 20px;
        box-shadow: 0px 0px 4px 1px #d5d5d5;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .ExploreCard:hover{
        transform: scale(1.01);
        cursor: pointer;

    }

    .overlayy {

        position: absolute;
        top: 15px;
        bottom: 0;
        left: 15px;
        right: auto;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
        opacity: 0;
        transition: .5s ease;
        background-color: $primary-color;
        border-radius: 20px;
        padding: 50px 10px;

    }

    .ExploreCard:hover .overlayy {
        opacity: 1;
        cursor: pointer;
    }
.ExploreCard:hover .newArrival {
    color: #D5BA74;
    font-size: 12px;
    position: absolute;
    left: 30px;
    top: 35px;
}
    .ExploreCardtext1 {
        font-size: 20px;
        color: white;
        margin-top: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .ExploreCardtext2 {
        font-size: 18px;
        color: white;
    }

    .ExploreCardtext3 {
        font-size: 24px;
        color: $primary-color;
    }

    .ExploreCardtext4 {
        font-size: 24px;
        color: #fff;
        position: absolute;
        bottom: 15%;
        left: 0;
        right: 0;
        text-align: center;
    }

    .ExploreCardImg {
        height: 150px;
        width: 150px;
    }
}

.section5 {
    .categoryCard {
        padding: 40px 10px;
        width: 100%;
        background: black;
        border-radius: 20px;
        box-shadow: 0px 0px 4px 1px #d5d5d5;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .heading {
        font-size: $HeadingSize;
        color: whitesmoke;

    }
    .text2 {
        font-size: 16px;
        color: #fff;
        line-height: 2.5;
    }

    .categoryCard:hover {
        background: $primary-color;
        color: black;
    }

    .categoryCardtext1 {
        font-size: 28px;
    }

    .categoryCardtext2 {
        font-size: 18px;
    }

    .categoryCardtext3 {
        font-size: 16px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.section6 {
    .text2 {
        font-size: 16px;
        color: #fff;
        line-height: 2.5;
    }

    .heading {
        font-size: $HeadingSize;
        color: whitesmoke;

    }

    .testimoninalCard {
        box-shadow: 0px 0px 4px 1px #d5d5d5;
        height: 130px;
        padding: 24px 20px;
        margin: 20px 0px ;


    }

    .testimoninalCardText1 {
        color: whitesmoke;
        font-size: 18px;
    }

    .testimoninalCardText2 {
        color: #949494;
        font-size: 18px;

    }
    .text3{
        font-size: 16px;
        line-height: 1.9;
    }
    
    
}

.section7{
    .heading {
        font-size: $HeadingSize;
        color: whitesmoke;

    }
}
.section8{
    .text2 {
        font-size: 16px;
        color: #fff;
        line-height: 1.6;
    }
    .logoimg{
        width: 40%;
        height: 300px;
    }
    .logoimg1{
        width: 40%;
        height: 300px;
    }

    .heading {
        font-size: $HeadingSize;
        color: whitesmoke;

    }
    .subscribeInput{
        border: none;
        height: 60px;
        background: #f1f9f6;
        width: 70%;
        margin-top: 40px;
        font-size: 18px;
        font-family: 'Poppins';
        font-weight: 300;
        color: #414141;
        padding-left: 80px;
        padding-right: 212px;

    }
    .envopleImg{
        
    position: absolute;
    top: 57px;
    left: 19%;

    }
    .subscribebtn{
        height: 45px;
        position: absolute;
        right: 18%;
        top: 47px;
        width: 177px;
        background: $primary-color;
        color: black;
        border: none;
        font-size: 14px;
        font-weight: 900;
        font-family: 'Poppins';

    }
}
@media (max-width: 767px) {
    .verifcationModal{
        display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px;
    color: #000;
    position: absolute;
    left: -5px;
    height: 100vh;
    }
    .section1 {
        .heading{
            font-size: 25px;
        }
    }
    .section2 {
        .heading{
            font-size: 25px;
        }
    }
    .section3 {
        .heading{
            font-size: 25px;
        }
        .section3InnerCard{
            display: none;
        }
        .Section3Card{
            width: 100%;
        }
    }
    .section4 {
        .heading{
            font-size: 25px;
        }
    }
    .section5 {
        .heading{
            font-size: 25px;
        }
    }
    .section6 {
        .heading{
            font-size: 25px;
        }
    }
    .section7 {
        .heading{
            font-size: 25px;
        }
    }
    .section8 {
        .heading{
            font-size: 25px;
        }
    }

}
@media (max-width: 576px) {
    .section1 {
        .heading{
            font-size: 25px;
            text-align: center;
        }
    }
    .section2 {
        .heading{
            font-size: 25px;
            text-align: center;

        }
        .deal-card{
            text-align: center;
            width: 100%;
        }
        .readmore{
            text-align: center;
        }
    }
    .section3 {
        .heading{
            font-size: 25px;
            text-align: center;

        }
        .section3InnerCard{
            height: 100%;
            width: 100%;
            margin: 0px;
            display: block;
            background: none;
            box-shadow: none;

        }
        .Section3Card{
            width: 100%;
            text-align: center;
            padding: 50px 10px;
            height: 100%;

        }
        .Section3Card .featureImg {
             height: 180px; 
        }
    }
    .section4 {
        .heading{
            font-size: 25px;
            text-align: center;

        }
    }
    .section5 {
        .heading{
            font-size: 25px;
            text-align: center;

        }
    }
    .section6 {
        .heading{
            font-size: 25px;
            text-align: center;

        }
        .text3 {
         
            text-align: center;
        }
    }
    .section7 {
        .heading{
            font-size: 25px;
            text-align: center;

        }
    }
    .section8 {
        .heading{
            font-size: 25px;
            text-align: center;

        }
        .subscribebtn {
            height: 45px;
       position: relative;
            width: 100%;
            background: #78C2A4;
            color: white;
            border: none;
            font-size: 14px;
            font-weight: 900;
            font-family: 'Poppins';
            margin-top: 17px;
            right: 0px;
            top: 0px;
        }
        .subscribeInput {
            border: none;
            height: 60px;
            background: #f1f9f6;
            width: 100%;
            margin-top: 40px;
            font-size: 15px;
            font-family: 'Poppins';
            font-weight: 300;
            color: #414141;
            padding-left: 48px;
            padding-right: 0px;
        }
        .envopleImg {
            position: absolute;
            top: 57px;
            left: 9%;
        }
    }
    .text1 {
        font-size: 18px;
        text-align: center;
      
    }
    .carouselText {
        color: #224455;
        margin-top: 15px;
        font-size: 15px;
        padding: 18px;
    }
    .section{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .centerheading {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

