$primary-color: #78C2A4;
.telephoneicon{
    font-size: 23px;
    margin-left: 10px;
    color: white;
}
.telephoneicon:hover{
    cursor: pointer;
    opacity: 0.8;
}
.DesktopHeader{
    position: sticky;
    
    top: 0;
    z-index: 2;
    background: black;
    .backwhite{
        box-shadow: 0px 0px 6px 3px #d7d4d4;
        background-color: black;
    }
    .logoimg{
        height: 146px;
        object-fit: cover;
    }
    .logoimg1{
        height: 146px;
        object-fit: cover;
    }
    .pt-pb-30{
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .headerTabs{
        font-size: 16px;
        color: #fff;
        font-family: poppins;
        font-weight: 400;
        margin-bottom: 0px;

    }
    .headerTabs:hover{
        color: #fff;
        cursor: pointer;
        font-family: poppins;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .header_btn{
        height: 50px;
        width: 150px;
        font-size: 16px;
        color: white;
        background: black;
        border: 2px solid white;
        border-radius: 2px;
    }
    .header_btn:hover{
        background: $primary-color;
        color: white;
    }
}
.MobileHeader{
    display: none;
}
@media (max-width: 767px) {
    .DesktopHeader{
        display: none;
    }
    .MobileHeader{
        display: block;
        border-bottom: 2px solid;
        padding: 0px 10px 0px 0px;
        position: sticky;
        top: 0;
        z-index: 2;
        background: black;    }
    .logoimg{
        width: 70% !important;

    }
    .logoimg1{
        width: 100% !important;

    }
    .bars{
        font-size: 40px;
        margin-right: 10px;
    }
    .barbtn{
        background: no-repeat;
        border: none;
    }
    .barbtn:focus{
        outline: none;
    }
    .card-body{
        background: white;
    width: 100%;
    color: black;
    padding: 32px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    }
    .card-body li{
        list-style: none;
        padding: 10px;
        color: black;

    }
    .card-body li:hover{
background: black;
color: white;
    }
    .card-body ul{
        padding: 0px;

    }
    .nav_hr {
 
        border: 0;
        border-top: 1px solid #000;
    }
}