$primary-color: #78C2A4;

.DesktopHeader{
    position: sticky;
    top: 0;
    z-index: 2;
    background: black;
    .backwhite{
        box-shadow: 0px 0px 6px 3px #d7d4d4;
        background-color: black;
    }
    .logoimg{
        height: 146px;
        object-fit: cover;
    }
    .pt-pb-30{
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .headerTabs{
        font-size: 16px;
        color: #fff;
        font-family: poppins;
        font-weight: 400;
        margin-bottom: 0px;

    }
    .headerTabs:hover{
        color: #fff;
        cursor: pointer;
        font-family: poppins;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .header_btn{
        height: 60px;
        width: 200px;
        font-size: 16px;
        color: white;
        background: black;
        border: 2px solid white;
        border-radius: 2px;
    }
    .header_btn:hover{
        background: $primary-color;
        color: white;
    }
}
@media (max-width: 767px) {
    .DesktopHeader{
        display: none;
    }
}